body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.add-khuyen-mai {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.back_display_km {
    display: inline-block;
    padding: 10px 15px;
    background-color: #45a049;
    /* Use a red color (you can change it to your preference) */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
}

.back_display_km:hover {
    background-color: #45a049;
    /* Use a darker shade of red for the hover effect (you can change it) */
}