html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    /* Fill the remaining vertical space */
}

footer {
    background-color: #32b8e0f6;
    padding: 10px;
    flex-shrink: 0;
    text-align: center;
}

.footer-index {
    color: black;
    font-weight: bold;
}