.product-details {
    display: flex;
    align-items: flex-start;
}

.product-image img {
    margin-right: 20px;
    width: 600px;
}

.product-info-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    /* Set the width to take up 70% of the container */
}

.add-to-cart-form {
    background-color: #740e0e;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    /* Set the width to take up 30% of the container */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 5px 0;
}

.status {
    color: #00c500;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
}

input[type="submit"] {
    background-color: #0080ff;
    color: #12076e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0058b3;
}
.checked {
    color: orange;
}
.break-down{
    position: relative;
    display: flexbox;
    
}