.gallery {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.laptop {
    width: calc(25% - 10px);
    /* Adjust the width to leave some space between products */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.laptop img {
    margin-top: 10px;
    width: 300px;
    height: 150px;
}

.laptop p {
    margin: 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.laptop a {
    text-decoration: none;
    color: black;
    text-align: left;
}

.centered-element {
    display: flex;
    justify-content: center;
    margin: auto;
}


/* Styles for page links */

.page-link {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.page-link:hover {
    background-color: #e0e0e0;
}